<html>
	<head>Welcome to {{greeting_msg}}</head>

	<body>
		<h1>Configured tool - {{cm_tool}}</h1>
		<h1>Provisioner tool - {{provisioner_tool}}</h1>
		<h1>Host name - {{ansible_nodename}}</h1>
	</body>
</html>
